[Unit]
Description=The uprocd daemon for %I

[Service]
Type=dbus
BusName=com.refi64.uprocd.modules.%I
ExecStart=/usr/share/uprocd/bin/uprocd + "%I"

[Install]
WantedBy=multi-user.target
