@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');

.mp, .mp code, .mp pre, .mp tt, .mp kbd, .mp samp, .mp h3, .mp h4 {
  font-family: "Roboto Mono", monospace;
}

.mp {
  max-width: initial;
  padding: 1em 2em;
  margin-left: 4em;
}

.mp h2 {
  margin-left: -4em;
}

pre {
  overflow-x: auto;
}

pre::-webkit-scrollbar {
  height: 5px;
}

pre::-webkit-scrollbar-track {
    background: #EEEEEE;
}

pre::-webkit-scrollbar-thumb {
  background: #9E9E9E;
}

pre::-webkit-scrollbar-thumb:hover {
  background: #757575;
}

.mp > p, .mp > pre, .mp > ul, .mp > ol, .mp > dl {
  margin-left: 0;
}

@media only screen and (max-width: 768px) {
  .mp {
    margin-left: 1em;
  }

  .mp h2 {
    margin-left: -1em;
  }

  #SEE-ALSO + p {
    text-align: initial;
  }
}

@media only screen and (max-width: 450px) {
  ol.man-decor li.tr {
    padding-right: 0.5em;
  }
}

@media only screen and (max-width: 430px) {
  ol.man-decor li.tr {
    padding-right: 1em;
  }
}
